.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 100px;
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 50px;
  border-radius: 10px;
  display: inline-block;
}
